UPSTOX_CLIENT_ID=your_actual_client_id
UPSTOX_CLIENT_SECRET=your_actual_client_secret
BROKER_ENCRYPTION_KEY=42877a10f602378096ff8953c3ee346c
ZERODHA_API_KEY=your_kite_api_key
ZERODHA_API_SECRET=your_kite_api_secret
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_LOGO_DEV_TOKEN=your_logo_dev_publishable_key

# SETU Account Aggregator
SETU_CLIENT_ID=your_setu_client_id
SETU_CLIENT_SECRET=your_setu_client_secret
SETU_PRODUCT_INSTANCE_ID=your_setu_product_instance_id
SETU_BASE_URL=https://fiu-sandbox.setu.co
SETU_REDIRECT_URL=http://localhost:3000/financial-data?consent_status=success

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Financial Advisor Backend
ADVISOR_BACKEND_URL=http://127.0.0.1:8000
supabasepassword=Openkey@#123